In [1]:
from openclean.data import load

df = load('3bxy-wfk9.tsv.gz')

In [2]:
df.head()

   year country_id    country_name sub_index value_type value
0  2015        KOR    Korea (Rep.)                 rank     1
1  2015        DNK         Denmark                 rank     2
2  2015        ISL         Iceland                 rank     3
3  2015        GBR  United Kingdom                 rank     4
4  2015        SWE          Sweden                 rank     5

In [3]:
from openclean.data import masterdata

# masterdata.download('restcountries.eu')
countries_groundtruth = load('restcountries.eu')
countries_groundtruth.head()

             name alpha2Code alpha3Code    capital   region        subregion
0     Afghanistan         AF        AFG      Kabul     Asia    Southern Asia
1   Åland Islands         AX        ALA  Mariehamn   Europe  Northern Europe
2         Albania         AL        ALB     Tirana   Europe  Southern Europe
3         Algeria         DZ        DZA    Algiers   Africa  Northern Africa
4  American Samoa         AS        ASM  Pago Pago  Oceania        Polynesia

In [4]:
from openclean.function.value.comp import lt
from openclean.function.value.normalize import divide_by_total
from openclean.profiling.anomalies.frequency import frequency_outliers
from openclean.profiling.distinct import distinct

top_regions = distinct(countries_groundtruth, 'region').normalize(divide_by_total)
# top_regions = apply(distinct(countries_groundtruth, 'region'), 'count', divide_by_total)
print(top_regions)
rare_region = frequency_outliers(countries_groundtruth, 'region', lt(0.1))
print(rare_region)

Feature({'Africa': 0.24, 'Americas': 0.228, 'Europe': 0.212, 'Asia': 0.2, 'Oceania': 0.108, '': 0.008, 'Polar': 0.004})
['', 'Polar']

In [5]:
country_names = countries_groundtruth['name']  # or df_restcountries['name']
country_codes = countries_groundtruth['alpha3Code']

In [6]:
country_names.count()

250

In [7]:
from openclean.profiling.anomalies import domain_outlier
unknown_countries = domain_outlier(df, 'country_name', country_names)

In [8]:
unknown_countries

['Bolivia',
 'Venezuela',
 'Macao, China',
 "C™te d'Ivoire",
 'Dominican Rep.',
 'Congo (Dem. Rep.)',
 'St. Vincent and the Grenadines',
 'United Kingdom',
 'Congo (Rep.)',
 'Lao P.D.R.',
 'St. Lucia',
 'St. Kitts and Nevis',
 'Antigua & Barbuda',
 'Iran (I.R.)',
 'Moldova',
 'United States',
 'Cape Verde',
 'Syria',
 'Korea (Rep.)',
 'Tanzania',
 'Hong Kong, China',
 'Trinidad & Tobago',
 'TFYR Macedonia']

In [9]:
unknown_codes = domain_outlier(df, 'country_id', country_codes)

In [10]:
unknown_codes

[]

In [11]:
from openclean.function.predicate.domain import IsNotIn
from openclean.operator.transform.filter import filter

df1 = filter(df, IsNotIn('country_name', country_names))

In [12]:
df1.head()

    year country_id      country_name sub_index value_type value
0   2015        KOR      Korea (Rep.)                 rank     1
3   2015        GBR    United Kingdom                 rank     4
8   2015        HKG  Hong Kong, China                 rank     9
14  2015        USA     United States                 rank    15
23  2015        MAC      Macao, China                 rank    24

In [13]:
from openclean.data.transform import to_lookup
code_to_name = to_lookup(countries_groundtruth, 'alpha3Code', 'name')

In [14]:
code_to_name

{'AFG': 'Afghanistan',
 'ALA': 'Åland Islands',
 'ALB': 'Albania',
 'DZA': 'Algeria',
 'ASM': 'American Samoa',
 'AND': 'Andorra',
 'AGO': 'Angola',
 'AIA': 'Anguilla',
 'ATA': 'Antarctica',
 'ATG': 'Antigua and Barbuda',
 'ARG': 'Argentina',
 'ARM': 'Armenia',
 'ABW': 'Aruba',
 'AUS': 'Australia',
 'AUT': 'Austria',
 'AZE': 'Azerbaijan',
 'BHS': 'Bahamas',
 'BHR': 'Bahrain',
 'BGD': 'Bangladesh',
 'BRB': 'Barbados',
 'BLR': 'Belarus',
 'BEL': 'Belgium',
 'BLZ': 'Belize',
 'BEN': 'Benin',
 'BMU': 'Bermuda',
 'BTN': 'Bhutan',
 'BOL': 'Bolivia (Plurinational State of)',
 'BES': 'Bonaire, Sint Eustatius and Saba',
 'BIH': 'Bosnia and Herzegovina',
 'BWA': 'Botswana',
 'BVT': 'Bouvet Island',
 'BRA': 'Brazil',
 'IOT': 'British Indian Ocean Territory',
 'UMI': 'United States Minor Outlying Islands',
 'VGB': 'Virgin Islands (British)',
 'VIR': 'Virgin Islands (U.S.)',
 'BRN': 'Brunei Darussalam',
 'BGR': 'Bulgaria',
 'BFA': 'Burkina Faso',
 'BDI': 'Burundi',
 'KHM': 'Cambodia',
 'CMR': 'Cameroon',
 'CAN': 'Canada',
 'CPV': 'Cabo Verde',
 'CYM': 'Cayman Islands',
 'CAF': 'Central African Republic',
 'TCD': 'Chad',
 'CHL': 'Chile',
 'CHN': 'China',
 'CXR': 'Christmas Island',
 'CCK': 'Cocos (Keeling) Islands',
 'COL': 'Colombia',
 'COM': 'Comoros',
 'COG': 'Congo',
 'COD': 'Congo (Democratic Republic of the)',
 'COK': 'Cook Islands',
 'CRI': 'Costa Rica',
 'HRV': 'Croatia',
 'CUB': 'Cuba',
 'CUW': 'Curaçao',
 'CYP': 'Cyprus',
 'CZE': 'Czech Republic',
 'DNK': 'Denmark',
 'DJI': 'Djibouti',
 'DMA': 'Dominica',
 'DOM': 'Dominican Republic',
 'ECU': 'Ecuador',
 'EGY': 'Egypt',
 'SLV': 'El Salvador',
 'GNQ': 'Equatorial Guinea',
 'ERI': 'Eritrea',
 'EST': 'Estonia',
 'ETH': 'Ethiopia',
 'FLK': 'Falkland Islands (Malvinas)',
 'FRO': 'Faroe Islands',
 'FJI': 'Fiji',
 'FIN': 'Finland',
 'FRA': 'France',
 'GUF': 'French Guiana',
 'PYF': 'French Polynesia',
 'ATF': 'French Southern Territories',
 'GAB': 'Gabon',
 'GMB': 'Gambia',
 'GEO': 'Georgia',
 'DEU': 'Germany',
 'GHA': 'Ghana',
 'GIB': 'Gibraltar',
 'GRC': 'Greece',
 'GRL': 'Greenland',
 'GRD': 'Grenada',
 'GLP': 'Guadeloupe',
 'GUM': 'Guam',
 'GTM': 'Guatemala',
 'GGY': 'Guernsey',
 'GIN': 'Guinea',
 'GNB': 'Guinea-Bissau',
 'GUY': 'Guyana',
 'HTI': 'Haiti',
 'HMD': 'Heard Island and McDonald Islands',
 'VAT': 'Holy See',
 'HND': 'Honduras',
 'HKG': 'Hong Kong',
 'HUN': 'Hungary',
 'ISL': 'Iceland',
 'IND': 'India',
 'IDN': 'Indonesia',
 'CIV': "Côte d'Ivoire",
 'IRN': 'Iran (Islamic Republic of)',
 'IRQ': 'Iraq',
 'IRL': 'Ireland',
 'IMN': 'Isle of Man',
 'ISR': 'Israel',
 'ITA': 'Italy',
 'JAM': 'Jamaica',
 'JPN': 'Japan',
 'JEY': 'Jersey',
 'JOR': 'Jordan',
 'KAZ': 'Kazakhstan',
 'KEN': 'Kenya',
 'KIR': 'Kiribati',
 'KWT': 'Kuwait',
 'KGZ': 'Kyrgyzstan',
 'LAO': "Lao People's Democratic Republic",
 'LVA': 'Latvia',
 'LBN': 'Lebanon',
 'LSO': 'Lesotho',
 'LBR': 'Liberia',
 'LBY': 'Libya',
 'LIE': 'Liechtenstein',
 'LTU': 'Lithuania',
 'LUX': 'Luxembourg',
 'MAC': 'Macao',
 'MKD': 'Macedonia (the former Yugoslav Republic of)',
 'MDG': 'Madagascar',
 'MWI': 'Malawi',
 'MYS': 'Malaysia',
 'MDV': 'Maldives',
 'MLI': 'Mali',
 'MLT': 'Malta',
 'MHL': 'Marshall Islands',
 'MTQ': 'Martinique',
 'MRT': 'Mauritania',
 'MUS': 'Mauritius',
 'MYT': 'Mayotte',
 'MEX': 'Mexico',
 'FSM': 'Micronesia (Federated States of)',
 'MDA': 'Moldova (Republic of)',
 'MCO': 'Monaco',
 'MNG': 'Mongolia',
 'MNE': 'Montenegro',
 'MSR': 'Montserrat',
 'MAR': 'Morocco',
 'MOZ': 'Mozambique',
 'MMR': 'Myanmar',
 'NAM': 'Namibia',
 'NRU': 'Nauru',
 'NPL': 'Nepal',
 'NLD': 'Netherlands',
 'NCL': 'New Caledonia',
 'NZL': 'New Zealand',
 'NIC': 'Nicaragua',
 'NER': 'Niger',
 'NGA': 'Nigeria',
 'NIU': 'Niue',
 'NFK': 'Norfolk Island',
 'PRK': "Korea (Democratic People's Republic of)",
 'MNP': 'Northern Mariana Islands',
 'NOR': 'Norway',
 'OMN': 'Oman',
 'PAK': 'Pakistan',
 'PLW': 'Palau',
 'PSE': 'Palestine, State of',
 'PAN': 'Panama',
 'PNG': 'Papua New Guinea',
 'PRY': 'Paraguay',
 'PER': 'Peru',
 'PHL': 'Philippines',
 'PCN': 'Pitcairn',
 'POL': 'Poland',
 'PRT': 'Portugal',
 'PRI': 'Puerto Rico',
 'QAT': 'Qatar',
 'KOS': 'Republic of Kosovo',
 'REU': 'Réunion',
 'ROU': 'Romania',
 'RUS': 'Russian Federation',
 'RWA': 'Rwanda',
 'BLM': 'Saint Barthélemy',
 'SHN': 'Saint Helena, Ascension and Tristan da Cunha',
 'KNA': 'Saint Kitts and Nevis',
 'LCA': 'Saint Lucia',
 'MAF': 'Saint Martin (French part)',
 'SPM': 'Saint Pierre and Miquelon',
 'VCT': 'Saint Vincent and the Grenadines',
 'WSM': 'Samoa',
 'SMR': 'San Marino',
 'STP': 'Sao Tome and Principe',
 'SAU': 'Saudi Arabia',
 'SEN': 'Senegal',
 'SRB': 'Serbia',
 'SYC': 'Seychelles',
 'SLE': 'Sierra Leone',
 'SGP': 'Singapore',
 'SXM': 'Sint Maarten (Dutch part)',
 'SVK': 'Slovakia',
 'SVN': 'Slovenia',
 'SLB': 'Solomon Islands',
 'SOM': 'Somalia',
 'ZAF': 'South Africa',
 'SGS': 'South Georgia and the South Sandwich Islands',
 'KOR': 'Korea (Republic of)',
 'SSD': 'South Sudan',
 'ESP': 'Spain',
 'LKA': 'Sri Lanka',
 'SDN': 'Sudan',
 'SUR': 'Suriname',
 'SJM': 'Svalbard and Jan Mayen',
 'SWZ': 'Swaziland',
 'SWE': 'Sweden',
 'CHE': 'Switzerland',
 'SYR': 'Syrian Arab Republic',
 'TWN': 'Taiwan',
 'TJK': 'Tajikistan',
 'TZA': 'Tanzania, United Republic of',
 'THA': 'Thailand',
 'TLS': 'Timor-Leste',
 'TGO': 'Togo',
 'TKL': 'Tokelau',
 'TON': 'Tonga',
 'TTO': 'Trinidad and Tobago',
 'TUN': 'Tunisia',
 'TUR': 'Turkey',
 'TKM': 'Turkmenistan',
 'TCA': 'Turks and Caicos Islands',
 'TUV': 'Tuvalu',
 'UGA': 'Uganda',
 'UKR': 'Ukraine',
 'ARE': 'United Arab Emirates',
 'GBR': 'United Kingdom of Great Britain and Northern Ireland',
 'USA': 'United States of America',
 'URY': 'Uruguay',
 'UZB': 'Uzbekistan',
 'VUT': 'Vanuatu',
 'VEN': 'Venezuela (Bolivarian Republic of)',
 'VNM': 'Viet Nam',
 'WLF': 'Wallis and Futuna',
 'ESH': 'Western Sahara',
 'YEM': 'Yemen',
 'ZMB': 'Zambia',
 'ZWE': 'Zimbabwe'}

In [15]:
from openclean.function.replace import Lookup
from openclean.operator.transform.update import update

df2 = update(df1, 'country_name', Lookup('country_id', code_to_name))

IndentationError: expected an indented block (update.py, line 58)

In [ ]:
df2.head()

In [ ]:
from openclean.operator.transform.mapping import mapping

country_to_country = mapping(df1, 'country_name', Lookup('country_id', code_to_name))

In [ ]:
country_to_country

In [ ]:
country_to_country = country_to_country.drop(1).drop(11)

In [ ]:
country_to_country

In [ ]:
df2 = update(df1, 'country_name', Lookup('country_name', country_to_country))

In [ ]:
df2.head()